input:focus {
  border: 1px solid yellow;
}
input:valid {
  border: 2px solid rgb(51, 204, 84);
}
input:valid + .invalid {
  /* Adjacent sibling selector */
  visibility: hidden;
  display: none;
}

input:invalid + .invalid {
  visibility: visible;
}

input:required {
  border-bottom: 2px solid #c33;
}

input:valid {
  border-bottom: transparent;
}

.invalid {
  color: #999;
}
#sign_up_error {
  width: 100%;
  text-align: center;
  word-break: break-all;
  display: none;
  color: red;
}
#login_up_error {
  width: 100%;
  text-align: center;
  word-break: break-all;
  display: none;
  color: red;
}
.none_display {
  display: none;
}

#loadmaps ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}
#loadmaps ul li {
  list-style: none;
  margin: 30px;
}
#loadmaps ul li a {
  font-weight: bold;
  color: inherit;
  font-size: 1.3em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
}
#loadmaps ul li a i {
  font-size: 3em;
}
@media (max-width: 450px) {
  .display_mobile {
    display: none;
  }
}
